apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /var/lib/kubelet/ca.pem
    server: https://{{ kube_apiservice_external_fqdn }}:6443
  name: bootstrap
contexts:
- context:
    cluster: bootstrap
    user: kubelet-bootstrap
  name: bootstrap
current-context: bootstrap
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: 2b00bs.{{ lookup('file', tokenfile) }}
